{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Покупка Токенов</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="tokens">Количество токенов:</label>
                <select name="tokens" id="tokens" class="form-control">
                    <option value="1">1 токен</option>
                    <option value="5">5 токенов</option>
                    <option value="10">10 токенов</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Купить</button>
        </form>
    </div>
</div>
{% endblock %}
